.secao_avaliacoes {
    width: 100%;
    height: 515px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto_clientes {
text-align: center;
font-weight: 900;
font-size: 48px;
padding-right: 245px;
padding-top: 25px;
padding-bottom: 50px;
color: #C1383D;
}

.cor_nossos {
    color: #FFFFFF;
    margin-right: 20px  ;
}

.secao_texto {
    display: flex;
    flex-wrap: nowrap;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 75px;
    line-height: 193%;
    max-width: 1200px;
    
}

.avaliacao_texto {
    margin-right: 20px;
}

.texto_nome {
    padding-top: 25px;
}

.imagem_cliente {
    float: left;
}

.nome_cliente {
    padding-top: 20px;
    padding-left: 70px;
}

.avaliacao_cliente {
    font-family: roboto;
    position: relative;
}

.fundo_cinza {
    position: absolute;
    background-color:#888888;
    width: 100vw;
    height: 530px;
    z-index: -1;
    right: 815px;
    

}

@media (min-width: 320px) AND (max-width: 768px) {
    .secao_avaliacoes {
        height: 10%;
    }

    .fundo_cinza {
        width: 166vw;
        height: 100%;
        right: 65%;
    }

    .texto_clientes {
        font-size: 13px;
        padding-right: 15%; 
        padding-top: 3%;
        padding-bottom: 5%;
    }

    .cor_nossos {
        margin-right: 10px;
    }

    .secao_texto {
        font-size: 7px;
        padding-bottom: 19px;
        line-height: 100%;
        margin: 0px 20px 0px 20px;
    }

    .avaliacao_texto {
        margin-left: 10px;
    }

    .imagem_cliente {
        width: 20px;
    }

    .nome_cliente {
        padding-top: 6px;
        padding-left: 25px;
        font-size: 6px;
    }

}