.capa_video {
    position: relative;
}

.video_cliente {
    width: 100%;
}

.logo_delta {
    position: absolute;
    left: 925px;
    top: 1115px;
    width: 146px;
}

.frase_sonho {
    position: absolute;
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
    left: 48%;
    bottom: 138px;
    padding-top: 20px;
    padding-left: 50px;
    font-family: roboto;
    line-height: 38px;
    width: 553px;

}

.fundo_vermelho {
    position: absolute;
    background-color: #C1383D;
    width: 55%;
    height: 140px;
    left: 45%;
    bottom: 98px;

}

.frase_sonho_vermelho {
    color: #151515;
}

@media (min-width: 320px) AND (max-width: 768px) {
    
    .video_cliente {
        height: 60vh;
    }

    .logo_delta {
        left: 44%;
        top: 79%;
        width: 7%;
    }

    .fundo_vermelho {
        width: 49%;
        height: 10%;
        left: 51%;
        bottom: 11%;
    }

    .frase_sonho {
        font-size: 7px;;
        left: 55%;
        bottom: 10%;
        padding-top: 0px;
        padding-left: 0px;
        line-height: 10px;
        width: 30%;

    }
}