.capa_video {
    position: relative;
}

.video_cliente {
    width: 100%;
}

.logo_delta {
    position: absolute;
    left: 925px;
    top: 1115px;
    width: 146px;
}

.frase_sonho {
    position: absolute;
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
    left: 48%;
    bottom: 138px;
    padding-top: 20px;
    padding-left: 50px;
    font-family: roboto;
    line-height: 38px;
    width: 553px;

}

.fundo_vermelho {
    position: absolute;
    background-color: #C1383D;
    width: 55%;
    height: 140px;
    left: 45%;
    bottom: 98px;

}

.frase_sonho_vermelho {
    color: #151515;
}

@media (min-width: 320px) AND (max-width: 768px) {
    
    

    .logo_delta {
        width: 17%;
        right: 100%;
        top: unset;
        left: unset;
    }

    .fundo_vermelho {
        height: 16%;
        bottom: 15%;
    }

    .frase_sonho {
        font-size: 16px;;
        left: 50%;
        bottom: 17%;
        padding-top: 0px;
        padding-left: 0px;
        line-height: unset;
        width: 50%

    }
}