.aba-estoque {
    display: inline-block;
    width: calc(100% - 455px);
    padding-left: 25px;
    vertical-align: top;
}

.home-estoque {
    font-size: 12px;
    display: block;
    font-family: roboto;
    color: #5F5F5F;
    margin-bottom: 19px;
    margin-top: 10px;
}

.carros-anunciados {
    display: inline-block;
    box-shadow: 0px 3px 4px 0px #8D8D8D;
    border-radius: 9px;
    margin-bottom: 35px;
    padding-bottom: 20px;
    margin-right: 35px;
    cursor: pointer;
}

.descricao-carro {
    margin-left: 10px;
}

.nome-carro {
    font-size: 12px;
    font-family: roboto;
    margin-top: 10px;
    margin-bottom: 2px;
}

.modelo-carro {
    font-size: 10px;
    font-family: roboto;
    color: #888888;
    margin-bottom: 10px;
}

.preco-carro {
    font-size: 20px;
    font-family: roboto;
}

.ano-carro {
    display: inline-block;
    font-size: 10px;
    font-family: roboto;
    color: #888888;
    margin-right: 20px;
}

.km-carro {
    display: inline-block;
    font-size: 10px;
    font-family: roboto;
    color: #888888;
}

.borda-ver-mais {
    border: 1px solid;
    border-radius: 5px;
    margin-right: 12px;
    margin-top: 15px;
}

.ver-mais {
    font-size: 10px;
    font-family: roboto;
    padding-left: 65px;
    margin: 7px;
}

.borda-ver-mais:hover {
    background-color: #C1383D;
    transition: 300ms linear;
    color: #FFFFFF;
}

.filtro-mobile {
    display: none;
}

@media (min-width: 320px) {
    .aba-estoque {
        width: 100%;
        padding-left: 7%;
    }

    .home-estoque {
        display: inline-block;
        font-size: 9px;
        margin-top: 1%;
    }

    .filtro-mobile {
        display: inline-block;
        font-size: 9px;
        float: inline-end;
        padding-right: 10%;
        font-family: roboto;
        color: #5F5F5F;
        margin-top: 1%;
    }

    .filtrar-img-mobile {
        width: 8px;
    }

    .filtrar-txt-mobile {
        display: inline-block;
    }

    .carros-anunciados {
        padding-bottom: 15px;
        margin-right: 1%;
        width: 133px;
        margin-bottom: 3%;
    }

    .foto-carro-class {
        width: 133px;
    }

    .descricao-carro {
        margin-left: 5%;
    }
    .nome-carro {
        font-size: 9px;
    }
    .modelo-carro {
        font-size: 5px;
    }
    .preco-carro {
        font-size: 11px;
    }
    .ano-carro {
        font-size: 7px;
    }
    .km-carro {
        font-size: 7px;
    }
    .borda-ver-mais {
        margin-right: 5%;
        margin-top: 5%;
    }
    .ver-mais {
        font-size: 7px;
        padding-left: 30%;
    }
}

@media (min-width: 375px) {
    .aba-estoque {
        padding-left: 14%;
    }   

    .filtro-mobile {
        padding-right: 15%;
    }
}

@media (min-width: 425px) {
    .aba-estoque {
        padding-left: 1%;
    }

    .filtro-mobile {
        padding-right: 1%;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .aba-estoque {
        padding-left: 2%;
    }

    .filtro-mobile {
        padding-right: 2%;
    }

    .carros-anunciados {
        width: 176px;
    }

    .foto-carro-class {
        width: 176px;
    }

    .nome-carro {
        font-size: 11px;
    }

    .modelo-carro {
        font-size: 7px;
    }

    .preco-carro {
        font-size: 13px;
    }

    .ano-carro {
        font-size: 10px;
    }

    .km-carro {
        font-size: 10px;
    }

    .ver-mais {
        font-size: 9px;
        padding-left: 33%;
    }
}

@media (min-width: 1024px) {
    .aba-estoque {
        padding-left: 3%;
    }

    .carros-anunciados {
        margin-right: 2%;
        width: 221px;
    }

    .filtro-mobile {
        padding-right: 4%;
    }

    .foto-carro-class {
        width: 221px;
    }

    .nome-carro {
        font-size: 12px;
    }

    .modelo-carro {
        font-size: 10px;
    }

    .preco-carro {
        font-size: 14px;
    }

    .ano-carro {
        font-size: 10px;
    }

    .km-carro {
        font-size: 10px;
    }

    .ver-mais {
        font-size: 10px;
        padding-left: 33%;
    }
}