

.categorias_footer {
    display: flex;
}

.logo_doin {
    margin-top: 20px;
}

.topicos_rodape {
    display: inline-flex;
    margin-top: 24px;
    margin-left: 70px;
    margin-right: 20px;
}

.topicos_rodape li {
    margin-right: 20px;
}

.categorias_footer a {
    text-decoration: none;
    display: inline-flex;
    color: white;
    font-size: 400;
    font-family: Roboto;
}

.container {
    width: 1110px;
    margin: 0 auto;
    background-color: #323232;
}

.container_conteudo_footer {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid white;
}

.localidade {
    width: 370px;
    display: inline-block;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    margin-right: 50px;
}

.localidade p {
    font-size: 14px;
    margin: 0.9em;
}

.telefone {
    display: inline-block;
}

.telefone p {
    display: inline-block;
     
}

.titulo_loja {
    font-family: Roboto;
    font-weight: 700;
}

.whatsapp {
    display: inline-block;
}

.whatsapp p {
    display: inline-block;
    
}

.imagem_telefone {
    margin-left: 10px;
    vertical-align: sub;
}

.imagem_whatsapp {
    vertical-align: sub;
}

.numero_telefone {
    margin-left: 3px !important; 
}

.horario_funcionamento {
    width: 370px;
    display: inline-block;
    word-spacing: 1px;
    margin-top: 3px !important;
}

.redes_sociais {
    margin-left: 10em;
    margin-top: 44px;
}

.espacamento {
    padding: 10px;
}

footer {
    background-color: #323232;
}

@media (min-width: 320px) {
    .container {
        width: 100%;
    }

    .logo_doin  {
        width: 46px;
    }

    .topicos_rodape {
        margin-left: 15px;
        font-size: 8px;
        margin-right: 0px;
    }
    .topicos_rodape li {
        margin-right: 5px;
    }

    .container_conteudo_footer {
        display: block;
    }

    .localidade {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 11px;
        margin-top: 10px;
    }

    .localidade p {
        font-size: 12px;
        margin: 0.5em;
    }



    .redes_sociais {
        margin-left: 33%;
        margin-top: 0px;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .logo_doin {
        width: 99px;
    }

    .topicos_rodape {
        margin-left: 26px;
        font-size: 12px;
    }

    .topicos_rodape li {
        margin-right: 30px;
    }

    .container_conteudo_footer {
        display: flex;
    }

    .localidade {
        width: 45%;
        margin-right: 0px;
        margin-bottom: 11px;
        margin-top: 10px;
    }

    .redes_sociais {
        margin-left: 0%;
        margin-top: 40px;
    }

    .espacamento {
        padding: 0px 0px 0px 8px;
    }
}

@media (min-width: 1024px) and (max-width: 1024px) {
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }

    .logo_doin {
        width: 99px;
    }

    .topicos_rodape {
        margin-left: 31px;
        font-size: 12px;
    }

    .topicos_rodape li {
        margin-right: 45px;
    }

    .container_conteudo_footer {
        display: block;
    }

    .localidade {
        margin-top: 15px;
        margin-bottom: 11px;
        width: 370px;
    }

    .redes_sociais {
        display: inline;
        margin-top: 0px;
        margin-left: 0px;
    }

}